<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" name="ann_form">
            <div class="form-group">
                <label for="title" class="col-sm-4 col-md-3 col-lg-2 control-label">Subject*:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <input type="text" ng-model="data.title" class="form-control" id="title" name="title" required>
                    <div class="text-danger" ng-show="ann_form.title.$dirty && ann_form.title.$error.required">
                        Required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="body" class="col-sm-4 col-md-3 col-lg-2 control-label">Text:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <textarea rows="10" id="body" name="body" ng-model="data.body" class="form-control">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="announceto" class="col-sm-4 col-md-3 col-lg-2 control-label">Announce To:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <select ng-model="data.announceto" class="form-control" id="announceto" name="announceto">
                        <option value="1">Teachers</option>
                        <option value="2">Everyone</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="language" class="col-sm-4 col-md-3 col-lg-2 control-label">Language:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <select ng-model="data.lang" class="form-control" id="language" name="language">
                        <option value="en">English</option>
                        <option value="ko">Korean</option>
                        <option value="es">Spanish</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="save(data)" type="button" ng-disabled="ann_form.$invalid||ui.busy" class="btn btn-success">Submit</button>
                    <a ui-sref="anns.list" type="button" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
