<p>{{message}}</p>
<img src="{{link}}">
<h2>지금 <a href="{{url_root}}">DQWorld.net</a>에 가입하세요.</h2>
<p><a href="https://www.facebook.com/sharer.php?s=100&amp;p[url]={{url|urlencode}}&amp;p[images][0]={{link|urlencode}}" target="_blank" style="display:block;font-size:18px;font-family:sans-serif;background:#3b5998;border:1px solid #283b66;border-radius:4px;color:#fff;text-decoration:none;width:75px;text-align:center;">
    <span style="font-weight:700;border-right:1px solid #283b66;padding-right:5px;">f</span>
    <small>공유</small>
</a></p>
<p>
    고맙습니다.<br>
    <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
</p>