<div style="max-width:500px;">
    <p>
        Hello Parent,
    </p>

    <p style="margin-bottom:0;">
        Your child has been developing their
        <b style="color:#f9631c;">DQ</b>™
        (digital intelligence quotient) on the
        skill of Digital Footprints –
        an ability to understand the nature
        of digital footprints and their real-life
        consequences and to manage them responsibly.
        They have learnt:
    </p>
    <ul style="margin-top:0">
        <li>What is Digital Footprint?</li>
        <li>Digital Footprints Reveal Personal Info</li>
        <li>Persistent Digital Footprints</li>
        <li>Digital Footprint Impacts Digital Reputation</li>
        <li>Real Life Consequences of Digital Footprints</li>
        <li>Stop. Think. Connect.</li>
    </ul>

    <p>
        Just as one needs to learn to be a safe driver
        before taking the wheel, children need
        <b style="color:#f9631c;">DQ</b>™ education
        before they can safely navigate the digital world.
    </p>

    <p>
        Share this badge with your child, family and friends
        to recognise their skill development and their
        <b style="color:#f9631c;">DQ</b>™ Digital Citizenship.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        Thank you for joining the
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™
        movement.
    </p>

    <p>
        Sincerely<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>