<div style="max-width:800px;">
    <p>
        Hello Parent,
    </p>

    <p>
        Your child has now fully completed the
        <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™ programme
        and has acquired technical, social and mental skills to be
        informed and discerning users of digital media and good digital citizens.
    </p>

    <p>
        High levels of <b style="color:#f9631c;">DQ</b>™ are significantly
        correlated with minimising risky behaviors online and MAXIMISING
        higher future-ready skills such as global citizenship,
        digital literacy, critical thinking, and empathy (refer graph below).<br>
        <img src="{{url_root}}admin/static/img/activation/en/dq-graph.jpg"><br>
        <small>
            <em>
                <b style="color:#f9631c;">*Tested and Proven:</b>
                The DQ™ programme and assessment is based on big data
                and developed by researchers from distinguished institutions
                such as Nanyang Technological University (NTU), Singapore,
                and proven through a pilot study in Singapore.
                Based on the evidence of this study, the World Economic Forum
                has identified DQ™ as a global standard for digital citizenship,
                and are our partner in publishing the Global DQ™ Index Report.
            </em>
        </small>
    </p>

    <p>
        Your child has received a <b style="color:#f9631c;">DQ</b>™
        Score of {{dq_score}}, as per the attached
        <b style="color:#f9631c;">DQ</b>™ Certificate. And their Individual
        <b style="color:#f9631c;">DQ</b>™ Report is now available.
        This report provides a comprehensive summary of your child’s
        <b style="color:#f9631c;">DQ</b>™ score and surfaces the
        strengths and weaknesses of their digital intelligence
        (<b style="color:#f9631c;">DQ</b>™). This report will also
        explain their extent of exposure to various online risks and
        the level of their parental and school involvement in their digital lives.
        In addition, it will provide some practical recommendations to
        improve your child’s <b style="color:#f9631c;">DQ</b>™ based on their profile.
        Such information is invaluable to both parents and educators concerned
        for the progress and welfare of children in our hyper connected world.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        We thank you and your child for undertaking our
        <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™
        programme, and developing their digital citizenship skills.
    </p>

    <p>
        Empowering our children with <b style="color:#f9631c;">DQ</b>™
        education helps them to safely and responsibly navigate the
        digital world, today and in the future.
    </p>

    <p>
        Thank you for joining the
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™
        movement.
    </p>

    <p>
        Sincerely<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>