<div style="max-width:500px;">
    <p>
        Hello Parent,
    </p>

    <p style="margin-bottom:0;">
        Your child has been developing their
        <b style="color:#f9631c;">DQ</b>™
        (digital intelligence quotient) on the
        skill of Cyber Security Management –
        an ability to protect one’s data by creating
        strong passwords and to manage various cyber attacks.
        They have learnt:
    </p>
    <ul style="margin-top:0">
        <li>Creating Strong Passwords</li>
        <li>Keeping Passwords Safe</li>
        <li>Managing SPAM and SCAM</li>
        <li>Managing Phishing</li>
        <li>Observing Mobile Security</li>
    </ul>

    <p>
        Just as one needs to learn to be a safe driver
        before taking the wheel, children need
        <b style="color:#f9631c;">DQ</b>™ education
        before they can safely navigate the digital world.
    </p>

    <p>
        Share this badge with your child, family and friends
        to recognise their skill development and their
        <b style="color:#f9631c;">DQ</b>™ Digital Citizenship.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        Thank you for joining the
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™
        movement.
    </p>

    <p>
        Sincerely<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>