<p>About {{ui.total || 0}} sticker(s)</p>
<div class="row" ng-show="sticker">
    <div class="squad-sticker">
        <p class="text-center">
            <a ng-disabled="!ui.has_prev || ui.busy" ng-click="prev()" class="btn btn-success">Previous</a>
            <a ng-click="sticker=null" class="btn btn-primary">Back</a>
            <a ng-disabled="!ui.has_next || ui.busy" ng-click="next()" class="btn btn-success">Next</a>
        </p>
        <div class="squad-sticker">
            <div class="col-lg-6">
                <img ng-if="sticker" ng-src="{{BASE_URL}}stickers/download/{{sticker.path}}" class="img-responsive pull-right thumbnail">
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-6 thumbnail">
                <div class="comment">
                    <p>
                        <a ng-show="remove_sticker" ng-click="remove_sticker(sticker)" class="btn btn-danger">Remove from Class</a>
                        <a ng-show="share_sticker" ng-click="share_sticker(sticker)" class="btn btn-danger">Share to Class</a>
                        <a ng-hide="ui.nominate_box" ng-click="open_nominate(sticker)" class="btn btn-primary">Nominate for public gallery</a>
                        <a ng-show="ui.nominate_box" ng-click="close_nominate()" class="btn btn-primary">Cancel</a>
                        <a href="/api/download/{{sticker.path}}?att=true" class="btn btn-warning">Download</a>
                    </p>

                    <div ng-show="ui.nominate_box" class="row">
                        <div class="col-xs-12">
                            <form ng-submit="nominate(ui.nominate_box)">
                                What makes this iZ HERO's sticker so special?<br>
                                <textarea ng-model="ui.nominate_text" style="width:100%;height:400px;"></textarea>
                                <button class="btn btn-success">Submit</button>
                                <button type="button" ng-click="close_nominate()" class="btn btn-primary">Cancel</button>
                            </form>
                            <br><br>
                        </div>
                    </div>
                    <strong>By: </strong>{{sticker.created.username}}<br>
                    <strong>On: </strong>{{sticker.created.on | moment_date:"YYYY-MM-DD, hh:mm a"}}<br>
                    <strong>Likes: </strong>{{(sticker.meta.likes && sticker.meta.likes.length) || 0}}<br>
                    <strong>Comments: </strong>{{(sticker.meta.comments && sticker.meta.comments.length) || 0}}
                </div><br><br>
                <p class="comment" ng-repeat="comment in sticker.meta.comments">
                    <span>{{comment.comment}}</span><br>
                    <small><strong>By</strong>: <span class="text-success">{{comment.created.username}}</span>
                    &bull; <strong>On</strong>: <span class="text-success">{{comment.created.on | moment_date:"YYYY-MM-DD, hh:mm a"}}</span></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-hide="sticker" class="row">
    <div class="col-xs-12 col-lg-6">
        Filter by:
        <select ng-model="filter.stage">
            <option value="">-- Stage --</option>
            <option value="0">HQ</option>
            <option value="2">Pillar of iZ RADAR</option>
            <option value="1">Pillar of iZ EYES</option>
            <option value="5">Pillar of iZ SHOUT</option>
            <option value="4">Pillar of iZ PROTECT</option>
            <option value="6">Pillar of iZ EARS</option>
            <option value="3">Pillar of iZ CONTROL</option>
            <option value="7">Pillar of iZ TELEPORT</option>
        </select>
        <select ng-model="filter.mission" ng-options="mission.value as mission.label for mission in missions">
            <option value="">-- Mission --</option>
        </select>
        Sort by:
        <select ng-model="sort">
            <option value="-_id">Newest</option>
            <option value="_id">Oldest</option>
        </select>
        <button class="btn btn-sm btn-success" ng-click="regetData()">Submit</button>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="pull-right">
            <nav>
                <ul class="pagination pagination-lg">
                    <li ng-show="ui.page!=1" ng-click="getPage(1)"><a>1</a></li>
                    <li ng-show="ui.page>=5" class="disabled"><a>…</a></li>
                    <li ng-show="ui.page>=4" ng-click="getPage(ui.page-2)"><a>{{ui.page-2}}</a></li>
                    <li ng-show="ui.page>=3" ng-click="getPage(ui.page-1)"><a>{{ui.page-1}}</a></li>
                    <li class="active"><a><input type="number" class="text-center" style="width:50px;font-size:12px;margin:0;padding:0;" ng-model="ui.page" ng-change="getPage(ui.page,true)"></a></li>
                    <li ng-show="ui.page+1<ui.pages" ng-click="getPage(ui.page+1)"><a>{{ui.page+1}}</a></li>
                    <li ng-show="ui.page+2<ui.pages" ng-click="getPage(ui.page+2)"><a>{{ui.page+2}}</a></li>
                    <li ng-show="ui.page+3<ui.pages" class="disabled"><a>…</a></li>
                    <li ng-show="ui.page!=ui.pages" ng-click="getPage(ui.pages)"><a>{{ui.pages}}</a></li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 squad-stickers" ng-repeat="stker in stickers track by stker._id">
        <div class="info-data">{{stker.created.username}}
            <a ng-show="remove_sticker" ng-click="remove_sticker(stker)" class="remove"><small>Remove</small></a>
            <a ng-show="share_sticker" ng-click="share_sticker(stker)" class="remove"><small>Share to Class</small></a>
        </div>
        <img ng-src="{{BASE_URL}}stickers/download/{{stker.path}}" class="img-responsive" ng-click="open_sticker(stker, $index)">
    </div>
    <div class="col-xs-12">
        <div class="pull-right">
            <nav>
                <ul class="pagination pagination-lg">
                    <li ng-show="ui.page!=1" ng-click="getPage(1)"><a>1</a></li>
                    <li ng-show="ui.page>=5" class="disabled"><a>…</a></li>
                    <li ng-show="ui.page>=4" ng-click="getPage(ui.page-2)"><a>{{ui.page-2}}</a></li>
                    <li ng-show="ui.page>=3" ng-click="getPage(ui.page-1)"><a>{{ui.page-1}}</a></li>
                    <li class="active"><a><input type="number" class="text-center" style="width:50px;font-size:12px;margin:0;padding:0;" ng-model="ui.page" ng-change="getPage(ui.page,true)"></a></li>
                    <li ng-show="ui.page+1<ui.pages" ng-click="getPage(ui.page+1)"><a>{{ui.page+1}}</a></li>
                    <li ng-show="ui.page+2<ui.pages" ng-click="getPage(ui.page+2)"><a>{{ui.page+2}}</a></li>
                    <li ng-show="ui.page+3<ui.pages" class="disabled"><a>…</a></li>
                    <li ng-show="ui.page!=ui.pages" ng-click="getPage(ui.pages)"><a>{{ui.pages}}</a></li>
                </ul>
            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<p>&nbsp;</p>