<div style="max-width:500px;">
    <p>
        부모님, 안녕하세요.
    </p>

    <p style="margin-bottom:0;">
        귀 자녀는 <b style="color:#f9631c;">DQ</b>™
        (digital intelligence quotient, 디지털 지능 지수)의
        디지털 발자국 관리 능력이 강화되었습니다.
        디지털 발자국 관리 능력은
        디지털 세상에서의 모든 행동이 자신과 타인에게 영향을
        미치는 디지털 흔적이 될 수 있음을 이해하고, 디지털
        세상에서 책임감 있게 행동하는 능력
        입니다. 아래의 내용은 자녀가 학습한 내용입니다.
    </p>
    <ul style="margin-top:0">
        <li>디지털 발자국이란?</li>
        <li>디지털 발자국에 의한 개인정보 노출</li>
        <li>좀처럼 사라지지 않는 디지털 발자국</li>
        <li>디지털 발자국이 디지털 평판에 미치는 영향</li>
        <li>디지털 발자국의 결과</li>
        <li>멈추고. 생각하고. 접속하자.</li>
    </ul>

    <p>
        자전거를 타기 전에 안전하게 운전하는 방법을 배워야하는 것처럼,
        아이들은 디지털 세계를 안전하게 탐색하기 위해 먼저
        <b style="color:#f9631c;">DQ</b>™ 교육을 받아야 합니다.
    </p>

    <p>
        귀 자녀가 <b style="color:#f9631c;">DQ</b>™
        디지털 시민 능력을 향상시킨 것을 자랑하기 위해
        자녀가 획득한 배지를 가족과 친구에게 공유하세요.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™
        운동에 참여해주셔서 감사합니다.
    </p>

    <p>
        고맙습니다.<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>