<div style="max-width:500px;">
    <p>
        부모님, 안녕하세요.
    </p>

    <p style="margin-bottom:0;">
        귀 자녀는 <b style="color:#f9631c;">DQ</b>™
        (digital intelligence quotient, 디지털 지능 지수)의
        디지털 공감 능력이 강화되었습니다.
        디지털 공감 능력은
        온라인 소통에서도 타인의 마음을 헤아리고,
        타인의 필요와 감정을 공감할 줄 아는 능력
        입니다. 아래의 내용은 자녀가 학습한 내용입니다.
    </p>
    <ul style="margin-top:0">
        <li>타인을 위해 나서는 용기</li>
        <li>구경꾼 vs 행동하는 사람</li>
        <li>온라인에서 공감하며 듣기</li>
        <li>공감하는 마음으로 소신있게 말하기</li>
        <li>사이버 폭력 피해자를 위한 공감능력</li>
        <li>온라인에서 판단하지 않기</li>
    </ul>

    <p>
        자전거를 타기 전에 안전하게 운전하는 방법을 배워야하는 것처럼,
        아이들은 디지털 세계를 안전하게 탐색하기 위해 먼저
        <b style="color:#f9631c;">DQ</b>™ 교육을 받아야 합니다.
    </p>

    <p>
        귀 자녀가 <b style="color:#f9631c;">DQ</b>™
        디지털 시민 능력을 향상시킨 것을 자랑하기 위해
        자녀가 획득한 배지를 가족과 친구에게 공유하세요.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™
        운동에 참여해주셔서 감사합니다.
    </p>

    <p>
        고맙습니다.<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>