<div style="max-width:500px;">
    <p>
        부모님, 안녕하세요.
    </p>

    <p style="margin-bottom:0;">
        귀 자녀는 <b style="color:#f9631c;">DQ</b>™
        (digital intelligence quotient, 디지털 지능 지수)의
        사이버 보안 능력이 강화되었습니다.
        사이버 보안 능력은
        자신의 데이터와 전자기기들을 스팸, 스캠, 피싱, 해킹과
        같은 다양한 사이버 공격으로부터 안전하게 방어하는 능력
        입니다. 아래의 내용은 자녀가 학습한 내용입니다.
    </p>
    <ul style="margin-top:0">
        <li>강력한 비밀번호 만들기</li>
        <li>비밀번호 안전하게 지키기</li>
        <li>스팸/스캠 관리</li>
        <li>피싱 관리</li>
        <li>모바일 보안 수칙</li>
    </ul>

    <p>
        자전거를 타기 전에 안전하게 운전하는 방법을 배워야하는 것처럼,
        아이들은 디지털 세계를 안전하게 탐색하기 위해 먼저
        <b style="color:#f9631c;">DQ</b>™ 교육을 받아야 합니다.
    </p>

    <p>
        귀 자녀가 <b style="color:#f9631c;">DQ</b>™
        디지털 시민 능력을 향상시킨 것을 자랑하기 위해
        자녀가 획득한 배지를 가족과 친구에게 공유하세요.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™
        운동에 참여해주셔서 감사합니다.
    </p>

    <p>
        고맙습니다.<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>