<div style="max-width:500px;">
    <p>
        Hello Parent,
    </p>

    <p>
        Your child has just signed up for
        <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™,
        a FREE self-learning online platform for children
        to develop their <b style="color:#f9631c;">DQ</b>™
        (digital intelligence quotient).
        Just as one needs to learn to be a safe driver before
        taking the wheel, children need <b style="color:#f9631c;">DQ</b>™
        education before they can safely navigate the digital world.
    </p>

    <p>
        <strong>The account must be activated within 7 days. Unactivated accounts will be deleted.</strong>
    </p>

    <p>
        <strong style="color:#f9631c;">Your activation code is: {{activationcode}}</strong><br>
        Please click on the following button and activate your child’s
        <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™
        account now so your child can play and learn.
    </p>

    <p style="text-align:center;">
        <a href="{{url_root}}api/izhero/activate?username={{username}}&code={{activationcode}}&lang=en"
           style="display:inline-block;background:#f9631c;font-size:larger;text-decoration:none;color:#fff;border-radius:4px;border:none;padding:10px 20px;">
            <strong>ACTIVATE NOW</strong>
        </a>
    </p>

    <p>
        Account Details<br>
        Your child’s <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™ login:<br>
        <b>
            Login URL:
            <a href="{{url_root}}lang:en/#!/landing/login">{{url_root}}lang:en/#!/landing/login</a>
        </b><br>
        <b>
            Activation URL:
            <a href="{{url_root}}api/izhero/activate?username={{username}}&code={{activationcode}}&lang=en">
                {{url_root}}lang:en/#!/landing/activate
            </a>
        </b><br>
        <b>Username: {{username}}</b><br>
        <b>Enter this activation code: {{activationcode}}</b>
    </p>

    <p style="margin-bottom:0;">
        Through our <b style="color:#f9631c;">DQ</b>™ programme,
        children learn 8 digital citizenship
        skills so that they can thrive in our hyperconnected world:
    </p>
    <ol style="margin-top:0;">
        <li>Digital Citizen Identity</li>
        <li>Screen Time Management</li>
        <li>Cyberbullying Management</li>
        <li>Cyber Security Management</li>
        <li>Digital Empathy</li>
        <li>Critical Thinking</li>
        <li>Digital Footprint Management</li>
        <li>Privacy Management</li>
    </ol>

    <p>
        When your child completes the
        <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™
        programme, you will have the opportunity to get a personalized
        <b style="color:#f9631c;">DQ</b>™ <b>Report</b> showing the
        strengths and weaknesses of your child’s digital intelligence,
        the extent of exposure to various online risks,
        and some practical recommendations to improve your
        child’s <b style="color:#f9631c;">DQ</b>™ based on their profile.
        Such information is invaluable for parents concerned
        with the progress and welfare of their child.
    </p>

    <p>
        The <b style="color:#f9631c;">DQ</b>™ education tools
        and assessment have been tested and proven.
        Initial results indicate a <b>30% reduction in risky online behaviour</b>
        and an <b>increase in personal strengths</b> such as critical thinking,
        empathy and global citizenship.
    </p>

    <p>
        If you or your child has trouble logging into
        <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™,
        please contact our Support Team at
        <a href="mailto:contact@dqworld.net">contact@dqworld.net</a>.
    </p>

    <p>
        Thank you for joining the
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™ movement.
    </p>

    <p>
        Sincerely<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>

    <small>
        If parental consent is not granted within 7 days of account creation,
        your child’s free account and all associated information will be deleted.
        By activating your child’s account you are in agreement with our
        <a href="{{url_root}}lang:en/#!/doc/terms">Terms of Use</a>
        and
        <a href="{{url_root}}lang:en/#!/doc/privacy">Privacy Policy</a>.
    </small>

    <p>
        <img src="{{url_root}}admin/static/img/activation/en/bottom-features.jpg">
    </p>
</div>