<p>Dear Parent,</p>
<p>Your child has made a pledge with you!</p>
<h1>My Media Rules Pledge</h1>
{%- include "en/dq_mediarules-doonline.%s.html" % doonline_noone -%}
{%- include "en/dq_mediarules-addfriend.%s.html" % addfriend_noone -%}
<p>I will only receive messages and texts from <b>{{message}}</b>.</p>
<p>I will use a web camera only with <b>{{cam}}</b>.</p>
<p>I will make my online profile visible only to <b>{{profile}}</b>.</p>
<p>
    <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
</p>