<p>Dear Parent,</p>
<p>Your child has made a pledge with you!</p>
<h1>My Media Rules Promise</h1>
<p>I promise to get my parent’s permission before I go online and to get their approval before adding new friends online.</p>
<p>I can only receive messages and texts from {{message}}.</p>
<p>I am only allowed to use a web cam with {{cam}}.</p>
<p>I can only make my online profile visible to {{profile}}.</p>
<p>I can only play video games, watch TV, or go online {{when}} for {{play}}.</p>
<p>
    <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
</p>