<p>Hola Padre o Madre de Familia,</p>
<p>¡Su hijo(a) ha establecido un pacto con usted!</p>
<h1>El Pacto sobre el Tiempo en la Pantalla de {{name}}</h1>
<p>Jugaré videojuegos el <b>{{days}}</b>.</p>
<p>Jugaré videojuegos, veré la TV y usaré el Internet durante <b>{{time}}</b>.</p>
<p>Jugaré videojuegos, veré TV, o usaré el Internet para entretenerme <b>{{when}}</b>.</p>
<p>
    Atentamente,<br>
    {{name}}
</p>
<p>
    <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
</p>