<p>Hola Padre o Madre de Familia,</p>
<p>¡Su hijo(a) ha establecido un pacto con usted!</p>
<h1>Mi Pacto sobre las Reglas de los Medios de Comunicación</h1>
{%- include "es/dq_mediarules-doonline.%s.html" % doonline_noone -%}
{%- include "es/dq_mediarules-addfriend.%s.html" % addfriend_noone -%}
<p>Sólo recibiré mensajes y textos de <b>{{message}}</b>.</p>
<p>Usaré una cámara en la red sólo con <b>{{cam}}</b>.</p>
<p>Haré que mi perfil en línea sea visible sólo a <b>{{profile}}</b>.</p>
<p>
    <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
</p>