<p>
    Ha solicitado que cambiemos su contraseña.
    Para completar esta acción, por favor acuda a:
</p>
<p>
    <a href="{{url_root}}lang:es/#!/landing/resetpwd?username={{username}}&amp;code={{pwdreset['code']}}">
        {{url_root}}lang:es/#!/landing/resetpwd?code={{pwdreset['code']}}
    </a>
    <br><strong>Código de confirmación:</strong> {{pwdreset['code']}}
</p>
<p>
    Atentamente,<br>
    <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
</p>