<style>
    .grid {
        width: 100%;
        height: 500px;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{common_ui.selected_mission_name || "Class Lessons"}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{BASE_URL}}">Home</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="lessons.list">Class Lessons</a>
            </li>
            <li ng-if="$state.current.data.nice_name" class="active">
                <strong>{{ $state.current.data.nice_name }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div ui-view class="col-lg-12"></div>
    </div>
</div>