<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" ng-submit="save(data)" name="admin_form">
            <div class="form-group">
                <label class="col-sm-4 col-md-3 col-lg-2 control-label">Username:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    {{data.username}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-md-3 col-lg-2 control-label">Given Name:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    {{data.givenname}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-md-3 col-lg-2 control-label">Country:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    {{data.country}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-md-3 col-lg-2 control-label">Created On:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <span ng-show="data.created">{{data.created | moment_date:"YYYY-MM-DD hh:mm a"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-md-3 col-lg-2 control-label">Last Login:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <span ng-show="data.lastlogin">{{data.lastlogin | moment_date:"YYYY-MM-DD hh:mm a"}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 col-md-3 col-lg-2 control-label">Password*:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <input type="password" ng-minlength="8" ng-model="data.password" class="form-control" id="password" name="password" required>
                    <div class="text-danger" ng-show="admin_form.password.$dirty && admin_form.password.$error.minlength">
                        <small>Password must be at least 8 characters long.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="cfmpassword" class="col-sm-4 col-md-3 col-lg-2 control-label">Retype Password*:</label>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <input type="password" nx-equal="data.password" ng-model="data.cfmpassword" class="form-control" id="cfmpassword" name="cfmpassword" required>
                    <div class="text-danger" ng-show="admin_form.cfmpassword.$dirty && admin_form.cfmpassword.$error.required">
                        Required
                    </div>
                    <div class="text-danger" ng-show="admin_form.cfmpassword.$dirty && admin_form.cfmpassword.$error.nxEqual">
                        <small>Password and confirm password do not match.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-disabled="admin_form.$invalid || ui.busy" class="btn btn-success">Submit</button>
                    <button ng-click="cancel()" type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
