<p>Dear Parents,</p>
<p>Seems like you and your child just made a pledge to place family time before media usage time.</p>
<br>
<p>Kid’s Pledge</p>
<ul>
    <li>I will never give out personal information online or by text.</li>
    <li>I understand my parents have the right to check my media history.</li>
    <li>I will try to keep my total screen time to 2 hours a day.</li>
    <li>I will not watch shows or play games that are inappropriate for me.</li>
</ul>
<br>
<p>Parents’ Pledge</p>
<ul>
    <li>I will check what my kids are doing online and on their phones and let them know before I check their digital devices.</li>
    <li>I will talk to my kids about the digital world and show interest in what they do online.</li>
    <li>I will help them make good media choices.</li>
    <li>If my child makes a mistake, I will ask questions and learn what happened.</li>
</ul>
<br>
<p>Parents and Kids’ Pledge</p>
<ul>
    <li>We will talk as a family at a meal a day with no technology use!</li>
    <li>We will agree to technology-free times such as meals, weekends, and vacations.</li>
    <li>We won’t sacrifice important family time for media or digital use.</li>
    <li>We agree to use technology responsibly.</li>
</ul>
<br>
<p>Thanks for helping your iZ HERO out! For more information check what programmes are available for you and your child on <a href="http://www.izheroalliance.org">iZHEROAlliance.org</a>.</p>

<img src="{{link}}">

<p><a href="https://www.facebook.com/sharer.php?s=100&amp;p[url]={{url|urlencode}}&amp;p[images][0]={{link|urlencode}}" target="_blank" style="display:block;font-size:18px;font-family:sans-serif;background:#3b5998;border:1px solid #283b66;border-radius:4px;color:#fff;text-decoration:none;width:75px;text-align:center;">
    <span style="font-weight:700;border-right:1px solid #283b66;padding-right:5px;">f</span>
    <small>share</small>
</a></p>