<div style="max-width:500px;">
    <p>
        Hola Padre o Madre de Familia,
    </p>

    <p style="margin-bottom:0;">
        Su hijo(a) ha estado desarrollando su
        <b style="color:#f9631c;">DQ</b>™
        (coeficiente de inteligencia digital) en cuanto a la habilidad de
        Lidiar con el Ciberacoso Cyber-bullying –
        la habilidad de detectar situaciones de ciberacoso y manejarlas sabiamente.
        Ha aprendido:
    </p>
    <ul style="margin-top:0">
        <li>Detectar Ciberacoso “Cyber-bullying”</li>
        <li>¿Qué es Ciberacoso “Cyber-bullying”?</li>
        <li>Identificar Tipos de Ciberacoso “Cyber-bullying”</li>
        <li>Involucrarse Inconscientemente en Ciberacoso “Cyber-bullying”</li>
        <li>Difundir una Situación de Ciberacoso “Cyber-bullying”</li>
        <li>Lidiar con el Ciberacoso “Cyber-bullying”</li>
        <li>¿Quiénes son Mis Adultos de Confianza?</li>
        <li>Cuándo Buscar Ayuda</li>
    </ul>

    <p>
        Al igual que uno necesita aprender a manejar un vehículo cuidadosamente antes
        de tomar el volante, los niños necesitan ser educados respecto al
        <b style="color:#f9631c;">DQ</b>™ antes de que puedan navegar el
        mundo digital con seguridad.
    </p>

    <p>
        Comparta esta medalla con su hijo(a), familia, y amigos,
        para reconocer su desarrollo de habilidades y su Ciudadanía Digital
        <b style="color:#f9631c;">DQ</b>™.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        Gracias por unirse al movimiento
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™.
    </p>

    <p>
        Atentamente,<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>