<div style="max-width:500px;">
    <p>
        Hola Padre o Madre de Familia,
    </p>

    <p style="margin-bottom:0;">
        Su hijo(a) ha estado desarrollando su
        <b style="color:#f9631c;">DQ</b>™
        (coeficiente de inteligencia digital) en cuanto a la habilidad de
        Manejar la Huella Digital –
        la habilidad de entender la naturaleza de las huellas digitales y
        sus consecuencias en la vida real, y manejarlas responsablemente.
        Ha aprendido:
    </p>
    <ul style="margin-top:0">
        <li>¿Qué es la Huella Digital?</li>
        <li>Las Huellas Digitales Revelan Información Personal</li>
        <li>Huellas Digitales Persistentes</li>
        <li>La Huella Digital Afecta la Reputación Digital</li>
        <li>Consecuencias de la Vida Real de las Huellas Digitales</li>
        <li>Detente. Piensa. Conecta.</li>
    </ul>

    <p>
        Al igual que uno necesita aprender a manejar un vehículo cuidadosamente antes
        de tomar el volante, los niños necesitan ser educados respecto al
        <b style="color:#f9631c;">DQ</b>™ antes de que puedan navegar el
        mundo digital con seguridad.
    </p>

    <p>
        Comparta esta medalla con su hijo(a), familia, y amigos,
        para reconocer su desarrollo de habilidades y su Ciudadanía Digital
        <b style="color:#f9631c;">DQ</b>™.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        Gracias por unirse al movimiento
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™.
    </p>

    <p>
        Atentamente,<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>