<div style="max-width:500px;">
    <p>
        Hola Padre o Madre de Familia,
    </p>

    <p style="margin-bottom:0;">
        Su hijo(a) ha estado desarrollando su
        <b style="color:#f9631c;">DQ</b>™
        (coeficiente de inteligencia digital) en cuanto a la habilidad de
        Empatía Digital –
        la habilidad de tener empatía hacia las necesidades y sentimientos de sí mismo
        y de los demás en el Internet.
        Ha aprendido:
    </p>
    <ul style="margin-top:0">
        <li>El Valor para Decir Algo</li>
        <li>Espectadores vs. Defensores</li>
        <li>Escuchando con Empatía en Línea</li>
        <li>Decir Algo con Empatía</li>
        <li>Empatía para Ciber-Víctimas</li>
        <li>No Juzgues en Línea</li>
    </ul>

    <p>
        Al igual que uno necesita aprender a manejar un vehículo cuidadosamente antes
        de tomar el volante, los niños necesitan ser educados respecto al
        <b style="color:#f9631c;">DQ</b>™ antes de que puedan navegar el
        mundo digital con seguridad.
    </p>

    <p>
        Comparta esta medalla con su hijo(a), familia, y amigos,
        para reconocer su desarrollo de habilidades y su Ciudadanía Digital
        <b style="color:#f9631c;">DQ</b>™.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        Gracias por unirse al movimiento
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™.
    </p>

    <p>
        Atentamente,<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>