<div style="max-width:800px;">
    <p>
        Hola Padre o Madre de Familia,
    </p>

    <p>
        Su hijo(a) ya ha completamente terminado el programa
        <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™
        y ha adquirido habilidades técnicas, sociales y mentales con las cuales
        podrá ser un usuario informado y sagaz de los medios digitales, al igual
        que un(a) buen(a) ciudadano(a) digital.
    </p>

    <p>
        Altos niveles de <b style="color:#f9631c;">DQ</b>™ están significativamente
        correlacionados con minimizar comportamientos riesgosos en línea y
        MAXIMIZAR habilidades que preparan para el futuro tal como la ciudadanía
        global, la competencia digital, el pensamiento crítico, y la empatía
        (ver la gráfica a continuación). <br>
        <img src="{{url_root}}admin/static/img/activation/en/dq-graph.jpg"><br>
        <small>
            <em>
                <b style="color:#f9631c;">*Probado y Comprobado:</b>
                El programa y evaluación DQ™ están basados en grandes cantidades
                de información y han sido desarrollados por investigadores de
                instituciones distinguidas como la Universidad Tecnológica Nanyang
                (NTU) de Singapur, y han sido comprobados a través de un estudio
                piloto en Singapur. En base a la evidencia de este estudio,
                el Foro Económico Mundial (World Economic Forum) ha identificado a
                DQ™ como un estándar global de ciudadanía digital, y es nuestro
                socio en publicar el Informe del Índice DQ™ Global.
            </em>
        </small>
    </p>

    <p>
        Su hijo(a) ha recibido una Puntuación <b style="color:#f9631c;">DQ</b>™
        de {{dq_score}}, tal como lo muestra el Certificado
        <b style="color:#f9631c;">DQ</b>™ anexo. Y su Informe
        <b style="color:#f9631c;">DQ</b>™ individual ya está disponible.
        Este informe proporciona un resumen completo de la puntuación
        <b style="color:#f9631c;">DQ</b>™ de su hijo(a) y resalta las
        fortalezas y debilidades de su inteligencia digital
        (<b style="color:#f9631c;">DQ</b>™). Este informe también explicará
        su grado de exposición a varios riesgos en internet y el nivel de
        participación de sus padres y su escuela en su vida digital.
        Además, proporcionará algunas recomendaciones prácticas para mejorar
        el <b style="color:#f9631c;">DQ</b>™ de su hijo(a) en base a su perfil.
        Esta información es indispensable tanto para padres como para educadores
        interesados en el progreso y bienestar de los niños en nuestro mundo hiper-conectado.
    </p>

    <p><img src="{{certificate}}"></p>

    <p>
        Le agradecemos a usted y a su hijo(a) por cursar nuestro programa
        <b style="color:#f9631c;">DQ</b> <b style="color:#4992f9;">World</b>™
        y desarrollar sus habilidades de ciudadanía digital.
    </p>

    <p>
        Empoderar a nuestros hijos con educación <b style="color:#f9631c;">DQ</b>™
        les ayuda a navegar el mundo digital segura y responsablemente, hoy y en el futuro.
    </p>

    <p>
        Gracias por unirse al movimiento
        #<b style="color:#f9631c;">DQ</b><b style="color:#4992f9;">EveryChild</b>™.
    </p>

    <p>
        Atentamente,<br>
        <a href="{{url_root}}"><img style="width:200px;" src="{{url_root}}static/img/zones/landing/dqworld.png"></a>
    </p>
</div>