<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{descr}}" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{image}}" />
    <meta property="og:site_name" content="iZ HERO" />
    {% block header %}{% endblock %}
</head>
<body>
    <h1 style="text-align:center;">
        <a href="/">
            <img src="/static/img/logo_sm.png" alt="iZ HERO">
        </a>
    </h1>
    <div style="margin:auto;width:800px;">
        {% block body %}{% endblock %}
    </div>
</body>
</html>